.topicos {
  background: var(--azul);
  color: var(--branco);
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.topicos__titulo {
  font-size: 16px;
  font-weight: light;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.topicos__item {
  background: var(--amarelo);
  padding: 1rem;
}

.topicos__link {
  text-decoration: none;
  color: var(--branco);
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .topicos__item {
    padding: 2rem;
  }
  .topicos__link,
  .topicos__titulo {
    font-size: 24px;
  }
  .topicos__titulo {
    margin: 1rem 0rem;
  }
  .topicos__lista {
    margin-bottom: 1rem;
    gap: 1.5rem;
  }
}
/* 1728px */
@media screen and (min-width: 1512px) {
  .topicos__lista {
    max-width: 40%;
  }
  .topicos {
    padding: 3rem 0rem;
  }
}
