.topicos {
  background: var(--azul);
  color: var(--branco);
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.topicos__titulo {
  font-size: 16px;
  font-weight: light;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.topicos__item {
  background: var(--amarelo);
  padding: 1rem;
}

.topicos__link {
  text-decoration: none;
  color: var(--branco);
  font-size: 14px;
  font-weight: bold;
}
