@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

p, h1 {
  color: #F6F6F6;
}

img {
  height: 488px;
  border-radius: 6px;
}

.titulo-destaque {
  color: #22D4FD;
}

.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 615px;
}

.apresentacao-conteudo-titulo {
  font-size: 36px;
  font-family: krona one, sans-serif;
}

.apresentacao-conteudo-paragrafo, a {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}

.apresentacao-conteudo-botao {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.apresentacao-conteudo-botao-link {
  color:#000000;
  background-color: #22D4FD;
  width: 280px;
  padding: 21.5px 0;
  border-radius: 16px;
  text-align: center;
}

.apresentacao-conteudo-botao-link:hover {
  background-color: #1daac9;
  cursor: pointer;
  transition: 0.5s;
}