@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./global.css);

body {
  background-color: var(--cor-primaria);
}

.conteudo {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  gap: 10%;
  align-items: start;
  text-align: justify;
}

.paragrafo {
  padding-top: 5%;
}

@media (max-width: 1200px) {
  .conteudo {
    align-items: center;
    padding: 5% 10%;
  }
  .cabecalho {
    padding-left: 10%;
  }
}

@media (max-width: 1000px) {
  .cabecalho-menu {
    gap: 15%;
  }
  .cabecalho {
    padding-top: 5%;
  }
  .conteudo {
    padding: 8% 10% 10% 10%;
  }
  .imagem {
    display: none;
  }
}

@media (max-width: 650px) {
  .titulo {
    padding-top: 10%;
    padding-bottom: 7%;
  }
  .paragrafo {
    padding-bottom: 7%;
  }
}
