.apresentacao {
  display: flex;
  gap: 90px;
  padding: 3% 15%;
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.foto {
  max-width: 480px;
  border-radius: 6px;
}