@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cor-bg: #00030c;
  --cor-primaria: #ffffff;
  --cor-secundaria: #c0c0c0;
  --cor-terciaria: #167bf7;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}
