@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./global.css);

body {
  background-color: #000000;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  gap: 10%;
  align-items: center;
  text-align: justify;
}

.titulo {
  font-family: krona one;
  font-size: 32px;
  color: #f6f6f6;
  padding-bottom: 5%;
}

.paragrafo {
  font-family: Montserrat;
  font-size: 18px;
  color: #f6f6f6;
}

.footer {
  font-family: Montserrat;
  font-size: 18px;
  display: block;
  background-color: #22d4fd;
  color: #272727;
  text-align: center;
  padding: 20px 0px;
}

.imagem {
  max-height: 500px;
  border-radius: 16px;
}
