@import url(reset.css);

:root {
  --font-primaria: Krona one;
  --font-secundaria: Montserrat;
  --texto-grande: 2rem;
  --texto-medio: 1.5rem;
  --texto-pequeno: 1.12rem;
  --texto-muito-pequeno: 0.85rem;

  /* --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-quaternaria: #272727; */

  --cor-primaria: #ffeac5;
  --cor-secundaria: #603f26;
  --cor-terciaria: #6c4e31;
  --cor-quaternaria: #ffdbb5;
}

.titulo {
  font-family: var(--font-primaria);
  font-size: var(--texto-grande);
  color: var(--cor-secundaria);
}

.subtitulo {
  font-family: var(--font-secundaria);
  font-size: var(--texto-medio);
  color: var(--cor-secundaria);
}

.paragrafo {
  font-family: var(--font-secundaria);
  font-size: var(--texto-pequeno);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding-top: 2%;
  padding-left: 15%;
}

.cabecalho-menu {
  display: flex;
  gap: 8%;
}

.cabecalho-menu-link {
  font-family: var(--font-secundaria);
  font-size: var(--texto-pequeno);
  color: var(--cor-terciaria);
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

.cabecalho-menu-link:hover {
  border-color: var(--cor-terciaria);
  transition: 0.5s;
}

.footer {
  font-family: var(--font-secundaria);
  font-size: var(--texto-pequeno);
  display: block;
  background-color: var(--cor-terciaria);
  color: var(--cor-quaternaria);
  text-align: center;
  padding: 1.25rem 0rem;
}

.imagem {
  border-radius: 1rem;
  /* max-width: 18.75rem;
  max-height: 31.25rem; */
  width: 28%;
  border: 1px solid var(--cor-terciaria);
}
