@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(global.css);

body {
  background-color: var(--cor-primaria);
}

.apresentacao {
  display: flex;
  box-sizing: border-box;
  gap: 10%;
  padding: 5% 15%;
  align-items: center;
}

.titulo,
.paragrafo {
  padding-bottom: 5%;
}

strong {
  color: var(--cor-terciaria);
}

.apresentacao-conteudo-links {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 30px;
}

.apresentacao-conteudo-links-botao {
  font-family: var(--font-secundaria);
  color: var(--cor-terciaria);
  background-color: transparent;
  border: 1px solid var(--cor-terciaria);
  border-radius: 8px;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
}

.apresentacao-conteudo-links-botao:hover {
  background-color: var(--cor-terciaria);
  border-color: transparent;
  color: var(--cor-quaternaria);
  transition: 0.5s;
}
