@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(global.css);

body {
  background-color: var(--cor-primaria);
}

.apresentacao {
  display: flex;
  box-sizing: border-box;
  gap: 10%;
  padding: 5% 15%;
  align-items: center;
}

.titulo,
.paragrafo {
  padding-bottom: 5%;
}

strong {
  color: var(--cor-terciaria);
}

.apresentacao-conteudo {
  width: 72%;
  justify-items: center;
}

.apresentacao-conteudo-links {
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
  text-align: center;
}

.apresentacao-conteudo-links-botao {
  font-family: var(--font-secundaria);
  font-size: var(--texto-pequeno);
  color: var(--cor-terciaria);
  background-color: transparent;
  border: 1px solid var(--cor-terciaria);
  border-radius: 0.5rem;
  padding: 1.25rem 0rem;
  width: 100%;
  text-align: center;
}

.apresentacao-conteudo-links-botao:hover {
  background-color: var(--cor-terciaria);
  border-color: transparent;
  color: var(--cor-quaternaria);
  transition: 0.5s;
}

@media (max-width: 1250px) {
  .apresentacao {
    padding: 5% 15% 7% 15%;
  }
  .titulo {
    font-size: var(--texto-medio);
  }
  .paragrafo {
    font-size: var(--texto-muito-pequeno);
  }
  .apresentacao-conteudo-links-botao {
    padding: 0.85rem;
    font-size: var(--texto-muito-pequeno);
  }
  .imagem {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .cabecalho-menu {
    gap: 15%;
  }
  .apresentacao {
    justify-content: center;
    padding: 7% 10%;
  }
  .imagem {
    display: none;
  }
}

@media (max-width: 650px) {
  .apresentacao {
    padding: 12% 5%;
  }
  .cabecalho-menu {
    padding-top: 5%;
    gap: 20%;
  }
  .titulo {
    padding-bottom: 10%;
  }
  .paragrafo {
    padding-bottom: 10%;
  }
}
