@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  /* height: 100vh; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.apresentacao {
  display: flex;
  align-items: center;
  padding: 5% 0%;
  padding-left: 15%;
  box-sizing: border-box;
}

.apresentacao-descricao {
  padding-right: 50px;
  max-width: 50%;
}

.descricao-titulo,
.descricao-paragrafo {
  color: #f6f6f6;
  padding-bottom: 30px;
}

.descricao-titulo {
  font-family: Krona one;
  font-size: 28px;
}

.descricao-paragrafo,
.descricao-botao-box-botao {
  font-family: Montserrat;
  font-size: 18px;
  /* text-align: justify; */
}

strong {
  color: #22d4fd;
}

.descricao-botao-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.descricao-botao-box-subtitulo {
  font-family: krona one;
  font-size: 18px;
  color: #f6f6f6;
}

.descricao-botao-box-botao {
  border-radius: 16px;
  background-color: transparent;
  text-align: center;
  padding: 20px 0px;
  width: 378px;
  color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #22d4fd;
}

.descricao-botao-box-botao:hover {
  color: #272727;
  background-color: #22d4fd;
  transition: 0.3s;
  border-color: transparent;
}

.imagem {
  max-height: 500px;
  border-radius: 16px;
}

.footer {
  font-family: Montserrat;
  font-size: 18px;
  display: block;
  background-color: #22d4fd;
  color: #272727;
  text-align: center;
  padding: 20px 0px;
}
