@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import './reset.css';

:root {
  --cor-preto: #080808;
  --cor-branco: #f6f6f6;
  --cor-azul: #22D4FD;
  --cor-cinza: #272727;

  --titulo-font: Krona one, sans-serif;
  --texto-font: Montserrat, sans-serif;

  --titulo: 30px;
  --subtitulo: 25px;
  --texto: 20px; 
}

.header {
  margin: 0 15%;
  margin-top: 1.5%;
  display: flex;
  gap: 60px;
}

.header a {
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  color: var(--cor-azul);
  font-size: var(--texto);
  border-radius: 6px;
  text-align: center;
}

.header a:hover {
  color: var(--cor-preto);
  background-color: var(--cor-azul);
  transition: 0.5s;
}

.footer {
  align-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: var(--texto);
  color: var(--cor-preto);
  background-color: var(--cor-azul);
  font-family: Montserrat, sans-serif;
}

.titulo {
  color: var(--cor-branco);
  font-size: var(--titulo);
  font-family: var(--titulo-font);
}

.subtitulo {
  color: var(--cor-branco);
  font-size: var(--subtitulo);
  font-family: var(--titulo-font);
}

.destaque {
  color: var(--cor-azul);
}

.texto {
  font-family: var(--texto-font);
  color: var(--cor-branco);
  font-size: var(--texto);
}